.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  text-align: center;
  background-color: #fefefe;
}

.title {
  font-size: 2.5rem;
  color: var(--button);
  margin-bottom: 1rem;
}

.message {
  font-size: 1.2rem;
  color: var(--main);
  margin-bottom: 2rem;
}

.link {
  font-size: 1rem;
  color: var(--button);
  text-decoration: underline;
  cursor: pointer;
}
