.cars {
  max-width: 1200px;
  margin: 0 auto;
}

.carsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 48px;
  column-gap: 32px;
}

.loadMoreBtn {
  border: 1px solid var(--button);
  border-radius: 12px;
  padding: 12px 12px;
  width: 156px;
  height: 44px;
  margin: 67px 0 30px 0;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: var(--main);
  transition: all 500ms;
}

.loadMoreBtn:hover {
  border: 1px solid var(--button-hover);
  background-color: var(--gray-light);
}
