.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: #f8f8f8;
}

.code {
  font-size: 6rem;
  font-weight: bold;
  color: var(--button);
}

.message {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #333;
}

.link {
  font-size: 1rem;
  color: #1d3557;
  text-decoration: underline;
  cursor: pointer;
}
